.title-category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}
